#btn-search{
	margin-left: 20px;
	color:black;
 	background-color:khaki;
 	cursor:pointer;
 	font-size:16px;
 	font-weight:bold;
 	height:35px;
 	width:100px; 
 	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
#inputtext{
	padding: 8px;
	border: none;
	border-bottom: 1px solid #808080;
	border-top: 1px solid #808080;
	border-right: 1px solid #808080;
	border-left: 1px solid #808080;;
	width: 30%;
	font-family: Times;
	font-size: 17px;
	height: 35px;
}
#demo{
	margin-left: 20px;
	height: 35px;
	width: 210px;
	font-size: 17px;
}
#labelall{
	font-size: 20px;
}